
notes/migrations/*
notes/migrations
api/migrations/*
api/migrations
api/__pycache__/*
api/__pycache__

.vercel
*.log
*.pyc
__pycache__
db.sqlite3
media

api/.env

# Environments 
tr_dj/*
tr_dj