
{% load static %}

{% block header %}

<h1>Trying To Work With Templates 😱</h1>
</div>
{% endblock header %}
{% block content %}
<h2>
First, I will only add text 🙂.
</h2>
<h2>
We will see later other stuff 🧑‍💻
</h2>
<p>
   <strong> This is a link to the Notes API :</strong><br>
   <a href="{% url 'notes:api' %}">Go To Notes (Rest) API Page</a>
</p>
<p>
   <strong> This is a link to the api-auth Login :</strong><br>
   <a href="{% url 'auth:login' %}">Go To Notes (Rest) API Page</a>
</p>

<p>
   <strong> This is a link to the api register :</strong><br>
   <a href="{% url 'users:register' %}">Go To Notes (Rest) API Page</a>
</p>


{% endblock content %}